.containerCard { /*TODO EL CONTEINER*/
    background-color: #E2D2BB; /* Asigna un color de fondo beige claro */
    width: 90%; /* La tarjeta ocupa el 100% del ancho del contenedor principal */
    display: flex; /* Se usa Flexbox para organizar los elementos dentro de la tarjeta */
    flex-direction: column; /* Los elementos dentro de .containerCard se organizan en una columna */
    justify-content: flex-start; /* Alinea los elementos al principio del contenedor (arriba) */
    align-items: center; /* Alinea los elementos horizontalmente al centro */
    margin: 3%; /* Espacio exterior alrededor del contenedor (3% de margen) */
    box-sizing: border-box; /* Asegura que los márgenes y el padding se incluyan en el cálculo del tamaño total del contenedor */
    border-radius: 10px; /* Redondea las esquinas del contenedor con un radio de 40px */
    border-top-left-radius: 100px; /* Redondea la esquina superior izquierda con un radio de 100px */
    border-bottom-left-radius: 100px; /* Redondea la esquina inferior izquierda con un radio de 100px */
    position: relative; /* Posicionamiento relativo, permite que los elementos internos sean posicionados de forma relativa a este contenedor */
    border-right: 1em;
    
}

.content { /*TODO EL CONTENIDO EL CONTEINER*/
    display: flex; /* Utiliza Flexbox para organizar los elementos dentro de este contenedor en una fila */
    justify-content: flex-start; /* Alinea los elementos al principio de la fila (de izquierda a derecha) */
    align-items: flex-start; /* Alinea los elementos verticalmente al principio */
    width: 100%; /* El contenedor ocupa el 100% del ancho disponible */
}

.photo { /*LA IMAGEN*/
    z-index: 1;
    width: 40%; /* La imagen ocupa el 40% del ancho total del contenedor */
    height: auto; /* La altura de la imagen se ajusta automáticamente manteniendo la proporción */
    border-radius: 100%; /* Hace que la imagen tenga una forma circular */
    object-fit: cover; /* La imagen se recorta si es necesario para cubrir completamente el contenedor sin deformarse */
    margin-right: 10px; /* Deja un espacio de 20px entre la imagen y los textos */
}

.textContainer /*TEXTO DE CONTEINER*/ {
    display: flex; /* Utiliza Flexbox para organizar los elementos dentro de este contenedor en una columna */
    flex-direction: column; /* Organiza los elementos en una columna (uno debajo del otro) */
    justify-content: flex-start; /* Alinea los elementos al principio de la columna (arriba) */
    align-items: flex-start; /* Alinea los elementos horizontalmente al principio */
    width: 100%; /* El contenedor de texto ocupa el 60% restante del ancho disponible */}

p { /*INGREDIENTE*/
    margin: -2px; /* Aplica un margen de 5px arriba y abajo a cada párrafo */
    color: #1F2B51;
    font-family:'Arial';
    font-weight: 600;
    font-size: 17px;

}

button { 
    position: absolute;
    bottom: 0%;
    z-index: 0;
    width: 82%; /* El botón ocupa el 100% del ancho disponible */
    left: 18%;
    height: 40px; /* El botón tiene una altura de 40px */
    background-color: #1F2B51; /* Establece el color de fondo del botón en un tono rojo */
    color: white; /* El texto del botón es de color blanco */
    border: none; /* Elimina el borde por defecto del botón */
    border-radius: 5px; /* Aplica un radio de 5px para redondear las esquinas del botón */
    font-size: 18px; /* El tamaño de la fuente del texto dentro del botón es de 16px */
    cursor: pointer; /* Cambia el cursor a una mano (pointer) cuando pasa sobre el botón */
    margin-top: 20px; /* Deja un espacio de 20px encima del botón, separando el botón de los elementos anteriores */
    font-family:'Gill Sans MT';
    font-weight: 0;

    text-align: right;
}

.BotonCarrito:hover {
    transition: all 0,8s;
    background-color: #081029; /* Cuando el mouse pasa sobre el botón, cambia su color de fondo a un tono más oscuro de rojo */
    font-size: 18px;
}

h3 { /*NOMBRE DE LA PIZZA*/
    margin: 10px 10px 10px 20px; /* Aplica un margen de 10px arriba y abajo a los encabezados <h3> */
    font-size: 25px; /* Establece el tamaño de la fuente de los encabezados <h3> a 35px */
    color: #DF361F; /* El color del texto del encabezado es un tono de rojo */
    font-family: cooper; /* Define que la fuente del encabezado sea "Cooper", si está disponible */
}

.detail {
    display: none; /* Hace que el contenido con la clase "detail" no se muestre (se oculta) */
}

.price{
    color: #000000;
    font-size: 25px;
    margin-bottom: 10px;
}