.mainContainer {
    background-color: #172e79;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .imgHead {
        width: 100%;
  }
  
  .pizzaItem{
        display: flex;
        margin: 20px;
        align-items: center;

  }

  .titulo {
      font-family: cooper;
  }
  
  .noAdd {
      font-size: 20px;
      font-family: Afacad, sans-serif;
  }
  
  .pedido {
      border-radius: 5px;
      margin-top: 20px;
      text-align: center;
      background-color: #F7EBDB;
      width: 78%;
      margin-left: 11%;
      margin-right: 11%;
      display: flex;
      flex-direction: column;
      margin-bottom: 25px;
  }

  .nameandprice{
    width: 40%;
  }
  
  .addName {
      font-size: 30px;
      margin: 0;
      font-family: Afacad, sans-serif;
  }
  
  .addPrice {
      color: green;
      margin: 0;
      font-size: 30px;
      font-family: Arial, Helvetica, sans-serif;
  }
  
  .contExtras {
    width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: auto;
  }
  
  .extra {
      font-size: 16px;
      text-align: center;
  }
  
  .extras {
      margin-top: -18px;
      font-size: 15px;
      display: block;
      text-align: center;
      width: 100%;
  }
  
  .buttonEliminar {
    margin-left: 11px;
      font-size: 13px;
      border-style: none;
      height: 30px;
      background-color: rgb(192, 0, 0);
      color: white;
      }
  
  .total {
      font-size: 30px;
      font-family: afacad, sans-serif;
      font-weight: 800;
      border-bottom-style: dashed;
      border-bottom-color: #fcca88;
  }
  
  .buttonRealizar {
      background-color: green;
      width: 100%;
      height: 50px;
      color: #F7EBDB;
      font-family: Afacad, sans-serif;
      font-weight: 800;
      font-size: 30px;
      text-align: center;
      margin-top: auto;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-style: none;
  }
  