.photoContainer {
  position: relative;
}

.photograp {
  width: 100%;
  box-shadow: 0px 0px 10px rgb(47, 47, 47);

}

.buttonRetroceso {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  z-index: 10;
}

.buttonRetroceso:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.nombre {
  text-align: center;
  color: red;
  font-family: cooper;
  font-size: 40px;
}

.detalle {
  text-align: center;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  font-size: 23px;
  font-weight: 600;
  font-family: 'Afacad', sans-serif;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: none;
  font-display: swap;
}

.contPrice {
  text-align: center;
}

.precio {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  font-size: 40px;
  font-weight: 700;
  font-family: 'Afacad', sans-serif;
}

.extras {
  font-size: 20px;
  font-family: 'Afacad', sans-serif;
  font-weight: 800;
}

.buttonAlb {
  width: 35%;
  height: 35px;
  margin-right: 5px;
  border-color: green;
  border-radius: 5px;
  background-color: #F7EBDB;
  color: green;
  font-size: 20px;
  font-family: Afacad, sans-serif;
  font-weight: 800;
  border-style: dashed;
}

.buttonDia {
  width: 35%;
  height: 35px;
  margin-left: 5px;
  border-color: red;
  color: red;
  border-radius: 5px;
  background-color: #F7EBDB;
  font-size: 20px;
  font-family: Afacad, sans-serif;
  font-weight: 800;
  border-style: dashed;
}

.buttonBR {
  margin-top: 5px;
  width: 70%;
  height: 35px;
  color: orange;
  border-color: orange;
  background-color: #F7EBDB;
  border-radius: 5px;
  border-style: dashed;
  font-family: Afacad, sans-serif;
  font-weight: 800;
  font-size: 20px;
}

.buttonPedido {
  width: 70%;
  height: 35px;
  background-color: green;
  font-size: 20px;
  font-family: Afacad, sans-serif;
  color: #F7EBDB;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Clases adicionales para el cambio de fondo cuando un extra está seleccionado */

.selectedGreen {
  background-color: green;
  color: white;
}

.selectedRed {
  background-color: red;
  color: white;
}

.selectedOrange {
  background-color: orange;
  color: white;
}

/* Hover efectos */
.buttonAlb:hover{
  background-color: green;
  color:#F7EBDB;
}
.buttonDia:hover{
  background-color: red;
  color: #F7EBDB;
}
.buttonBR:hover{
  background-color: orange;
  color:#F7EBDB;
}
